---
import { getCollection } from "astro:content";
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const allPosts = await getCollection("blog");

    const uniqueTags = [
        ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post: any) =>
            post.data.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <div class="flex flex-col items-center p-5 xl:p-30 lg:p-30 md:p-20 sm:p-20">
        <span
            class="txt_clr text-2xl xl:text-4xl lg:text-3xl md:text-3xl sm:text-3xl"
            >Posts tagged with '{tag}'</span
        >
        <ul class="mt-8">
            {
                posts.map((post) => (
                    <div class="flex justify-start items-center posts_ass_with_tag opacity-75 gap-2 mt-1">
                        <span>•</span>
                        <BlogPost
                            url={`/posts/${post.id}/`}
                            title={post.data.title}
                        />
                    </div>
                ))
            }
        </ul>
        <img src="/tag.avif" alt="tag cycle" class="">
    </div>
</BaseLayout>
<style>
    .posts_ass_with_tag {
        font-family: "BodoniModa", serif;
        font-style: italic;
    }
</style>
