---
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
export async function getStaticPaths() {
    const response = await fetch("http://localhost:5200/blogs");
    if (!response.ok) {
        throw new Error("Failed to fetch blog intelligence");
    }
    const apiPosts = await response.json();
    const allPosts = apiPosts.map((post: any) => ({
        id: post._id,
        data: {
            title: post.title,
            thumbnail: post.thumbnailUrl,
            tags: post.tags ?? [],
        },
    }));
    const uniqueTags = [
        ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
    ];
    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post: any) =>
            post.data.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <div class="flex flex-col items-center p-5 xl:p-30 lg:p-30 md:p-20 sm:p-20">
        <span
            class="txt_clr text-2xl xl:text-4xl lg:text-3xl md:text-3xl sm:text-3xl"
            >Posts tagged with '{tag}'</span
        >
        <ul class="mt-8">
            {
                posts.map((post: any) => (
                    <div class="flex justify-start items-center posts_ass_with_tag opacity-75 gap-2 mt-1">
                        <span>•</span>
                        <BlogPost
                            url={`/posts/${post.id}/`}
                            title={post.data.title}
                        />
                    </div>
                ))
            }
        </ul>
        <img src="/tag.avif" alt="tag cycle" class="rotating-element mt-10" />
    </div>
</BaseLayout>
<style>
    .posts_ass_with_tag {
        font-family: "BodoniModa", serif;
        font-style: italic;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(
                360deg
            );
        }
    }

    .rotating-element {
        animation-name: spin;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
</style>
