---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Taksh's Form";
---

<BaseLayout pageTitle={pageTitle}>
	<div
		id="protected-content"
		style="display:none;"
		class="max-h-screen overflow-scroll"
	>
		<div class="max-w-3xl m-auto p-10">
			<form id="blogForm" class="flex flex-col gap-4">
				<!-- 1. Title -->
				<label class="text-sm">Title *</label>
				<input
					type="text"
					id="title"
					minlength="1"
					required
					class="border border-zinc-950 rounded outline-0 p-2.5 text-lg"
				/>

				<!-- 2. Date -->
				<label class="text-sm">Date *</label>
				<input
					type="date"
					id="pubDate"
					required
					class="border border-zinc-950 rounded outline-0 p-2.5 text-lg"
				/>

				<!-- 3. Location -->
				<label class="text-sm">Location *</label>
				<input
					type="text"
					id="location"
					required
					class="border border-zinc-950 rounded outline-0 p-2.5 text-lg"
				/>

				<!-- 4. Tagline -->
				<label class="text-sm">Tagline *</label>
				<input
					type="text"
					id="tagline"
					minlength="1"
					required
					class="border border-zinc-950 rounded outline-0 p-2.5 text-lg"
				/>

				<!-- 5. Description -->
				<label class="text-sm">Description *</label>
				<textarea
					id="description"
					required
					class="border border-zinc-950 rounded outline-0 p-2.5 text-lg"
				></textarea>

				<!-- 6. Thumbnail -->
				<label class="text-sm">Thumbnail Image *</label>
				<input
					type="text"
					id="thumbnail"
					placeholder="Thumbnail Image URL"
					required
					class="border border-zinc-950 rounded outline-0 p-2.5 text-lg"
				/>

				<!-- 7. Tags -->
				<label class="text-sm">Tags *</label>
				<div
					class="flex gap-2 justify-center items-center flex-wrap w-full"
				>
					<input
						type="text"
						id="tagInput"
						placeholder="Type tag"
						class="border border-zinc-950 rounded outline-0 p-2.5 text-lg flex-1"
					/>
					<button
						type="button"
						id="addTagBtn"
						class="p-3 border border-zinc-950 rounded tag_button"
					>
						Add
					</button>
				</div>
				<div id="tags" class="mt-2"></div>

				<!-- 8. Stories -->
				<label class="text-sm">Stories</label>
				<div id="story-list" class="flex flex-col gap-4"></div>
				<button
					type="button"
					id="addStory"
					class="p-2.5 text-lg border border-zinc-950 rounded"
				>
					+ Add Story
				</button>

				<!-- 9. Submit Button -->
				<button
					type="submit"
					class="p-2.5 text-lg border border-zinc-950 rounded tag_button"
					>Submit Case</button
				>
			</form>
		</div>
	</div>
	<div
		id="formPopup"
		class="fixed bottom-6 left-6 hidden z-50 min-w-70 max-w-sm
           rounded-xl px-5 py-4 shadow-lg text-white text-sm font-medium
           transition-all duration-300"
	>
	</div>
</BaseLayout>
<script is:inline>
	(async () => {
		const token = localStorage.getItem("taksh's token");
		if (!token) {
			window.location.href = "/login";
			return;
		}
		try {
			const response = await fetch(
				"http://localhost:5200/auth/validate-token",
				{
					method: "GET",
					headers: {
						Authorization: `Bearer ${token}`,
					},
				},
			);
			if (!response.ok) {
				throw new Error("Token failed validation");
			}
			document.getElementById("protected-content").style.display =
				"block";
		} catch (err) {
			localStorage.removeItem("taksh's token");
			window.location.href = "/login";
		}
	})();
</script>
<script is:inline>
	/* POPUP MANAGEMENT */
	const popup = document.getElementById("formPopup");
	let popupTimer = null;
	function showPopup(type, message) {
		if (!popup) return;

		clearTimeout(popupTimer);

		popup.classList.remove(
			"hidden",
			"bg-green-600",
			"bg-red-600",
			"bg-blue-600",
		);

		switch (type) {
			case "success":
				popup.classList.add("bg-green-600");
				break;
			case "error":
				popup.classList.add("bg-red-600");
				break;
			default:
				popup.classList.add("bg-blue-600");
		}

		popup.textContent = message;

		popupTimer = setTimeout(() => {
			popup.classList.add("hidden");
		}, 3000);
	}
	const today = new Date().toISOString().split("T")[0];
	document.getElementById("pubDate").max = today;

	/* TAG MANAGEMENT */
	const tags = new Set();
	const tagInput = document.getElementById("tagInput");
	const tagBox = document.getElementById("tags");
	const addTagBtn = document.getElementById("addTagBtn");
	addTagBtn.onclick = () => {
		const value = tagInput.value.trim();
		if (!value) return;
		addTag(value);
		tagInput.value = "";
	};
	function addTag(tag) {
		if (tags.has(tag)) return;

		tags.add(tag);
		const span = document.createElement("span");
		span.className =
			"inline-block p-2 rounded cursor-pointer border border-zinc-950 me-2 mt-2 tag_button";
		span.textContent = tag + " ✕";

		span.onclick = () => {
			tags.delete(tag);
			span.remove();
		};

		tagBox.appendChild(span);
	}

	/* STORY HANDLER */
	function createStoryView() {
		const wrapper = document.createElement("div");
		wrapper.className =
			"story-view border border-zinc-950 p-4 rounded flex flex-col gap-3 bg-transparent";

		wrapper.innerHTML = `
		<input
			type="text"
			placeholder="Story Location"
			required
			class="border border-zinc-950 rounded outline-0 p-2.5 text-lg"
		/>

		<input
			type="text"
			placeholder="Story Image URL"
			required
			class="border border-zinc-950 rounded outline-0 p-2.5 text-lg"
		/>

		<textarea
			placeholder="Story Description"
			required
			class="border border-zinc-950 rounded outline-0 p-2.5 text-lg"
		></textarea>

		<div class="flex justify-end">
			<button
				type="button"
				class="remove-story p-2 border border-zinc-950 rounded"
			>
				Remove
			</button>
		</div>
	`;

		wrapper.querySelector(".remove-story").onclick = () => wrapper.remove();

		return wrapper;
	}
	document.getElementById("addStory").onclick = () => {
		const storyList = document.getElementById("story-list");
		const stories = storyList.querySelectorAll(".story-view");
		if (stories.length > 0) {
			const lastStory = stories[stories.length - 1];
			const inputs = lastStory.querySelectorAll("input, textarea");
			for (const field of inputs) {
				if (
					!field.value ||
					(field.type === "file" && field.files.length === 0)
				) {
					showPopup(
						"error",
						"Previous story is incomplete. Close the loop before opening a new case.",
					);
					return;
				}
			}
		}
		const storyView = createStoryView();
		storyList.appendChild(storyView);
	};

	/* SUBMIT */
	document.getElementById("blogForm").onsubmit = async (e) => {
		e.preventDefault();
		/* Tag Role Check */
		if (tags.size === 0) {
			showPopup("error", "At least one tag required");
			return;
		}
		const stories = document.querySelectorAll(".story-view");
		/* ATLEAST 1 STORY REQUIRED */
		if (stories.length === 0) {
			showPopup(
				"error",
				"At least one story is mandatory to proceed with this case.",
			);
			return;
		}
		/* STORY COMPLETENESS RULE */
		for (let i = 0; i < stories.length; i++) {
			const inputs = stories[i].querySelectorAll("input, textarea");

			for (const field of inputs) {
				if (
					!field.value ||
					(field.type === "file" && field.files.length === 0)
				) {
					showPopup(
						"error",
						`Story ${i + 1} is incomplete. All evidence must be logged.`,
					);
					return;
				}
			}
		}
		/* BUILD FORM DATA */
		const payload = {
			title: document.getElementById("title").value,
			pubDate: document.getElementById("pubDate").value,
			location: document.getElementById("location").value,
			tagline: document.getElementById("tagline").value,
			description: document.getElementById("description").value,
			thumbnailUrl: document.getElementById("thumbnail").value,
			tags: Array.from(tags),
			stories: [],
		};
		stories.forEach((story) => {
			const inputs = story.querySelectorAll("input, textarea");

			payload.stories.push({
				location: inputs[0].value,
				imageUrl: inputs[1].value,
				description: inputs[2].value,
			});
		});
		const token = localStorage.getItem("taksh's token");
		try {
			const response = await fetch("http://localhost:5200/blogs", {
				method: "POST",
				headers: {
					Authorization: `Bearer ${token}`,
					"Content-Type": "application/json",
				},
				body: JSON.stringify(payload),
			});

			if (!response.ok) {
				const error = await response.json();
				throw new Error(error.message || "Submission failed");
			}

			showPopup("success", "Case successfully filed and archived.");
			document.getElementById("blogForm").reset();
			tags.clear();
			document.getElementById("tags").innerHTML = "";
			document.getElementById("story-list").innerHTML = "";
			document.getElementById("blogForm").reset();
		} catch (err) {
			showPopup("error", err.message);
		}
	};
</script>
