---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "ભારત | भारत | India | 天竺";
---

<BaseLayout pageTitle={pageTitle}>
    <div
        class="flex flex-col justify-center items-center w-full max-h-screen italic xl:text-xl lg:text-xl md:text-xl sm:text-md gap-2 xl:p-30 lg:p-0 md:p-0 sm:p-0 xs:p-0"
    >
        <figure>
            <img src="/Flag_of_India.webp" class="mt-8" alt="india" />
        </figure>
        <span class="">Some call me Sindhu</span>
        <span class="">Some say Hind</span>
        <span class="">While others whisper al-Hind</span>
        <span class="">To some I am Tenjiku, the land of heaven</span>
        <span class="">To others Tianzhu, the land of gods</span>
        <span class="">Some know me as Arya Varta</span>
        <span class="">Some as Jambudvipa</span>
        <span class="">Some call me the land of Dharma Gyagar</span>
        <span class="">And some the sacred land Ta-neter</span>
        <span class="">Through the echoes of ancient civilizations, </span>
        <span>I have been called by many names</span>
        <span class="">Empires have risen and fallen upon my soil</span>
        <span class="">My rivers have nurtured the oldest wisdom</span>
        <span class="">My mountains are stood as eternal sentinels</span>
        <span class="">My spirit remains unbroken</span>
        <span class="">My essence are immortal</span>
        <span class="">I am the divine land</span>
        <span class="">I am India, I am भारत</span>
    </div>
</BaseLayout>

<style>
    figure:nth-of-type(1) img {
        width: 200px;
    }
</style>
