---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");

const pageTitle = "Taksh's Notes";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="grid grid-cols-[26%_47%_31%] h-screen relative notes-wrapper">
		<div
			class="border-r border-zinc-950 h-screen overflow-hidden notes-left"
		>
			<div
				class="flex border-b border-zinc-950 h-50 justify-start items-end"
			>
				<div class="flex flex-col justify-center items-center mb-5">
					<span class="tracking-wide text-xs opacity-80 ms-5"
						>_ _Short notes</span
					>
					<span class="tracking-wide text-xs opacity-80 ms-5"
						>and some pixels</span
					>
					<span class="tracking-wide text-xs opacity-80 ms-5"
						>of life_ _</span
					>
				</div>
			</div>
		</div>
		<div
			id="scrollableDiv"
			class="border-r border-zinc-950 h-screen overflow-y-auto relative notes-main"
		>
			<ul class="p-10">
				{
					allPosts.map((post: any) => (
						<BlogPost
							url={`/posts/${post.id}/`}
							title={post.data.title}
						/>
					))
				}
			</ul>
			<button
				id="scrollTopBtn"
				class="hidden fixed bottom-8 right-8 px-4 py-2 rounded-lg shadow-lg transition txt_bg_clr cursor-pointer"
				onclick="document.getElementById('scrollableDiv').scrollTo({top:0, behavior:'smooth'})"
			>
				↑
			</button>
		</div>
		<div
			class="border-r border-zinc-950 h-screen overflow-hidden notes-right"
		>
		</div>
	</div>
</BaseLayout>

<script>
	const scrollDiv = document.getElementById("scrollableDiv")!;
	const scrollBtn = document.getElementById("scrollTopBtn")!;

	scrollDiv.addEventListener("scroll", () => {
		if (scrollDiv.scrollTop > 50) {
			scrollBtn.classList.remove("hidden");
		} else {
			scrollBtn.classList.add("hidden");
		}
	});
</script>
<style>
	@media (max-width: 639px) {
		.notes-wrapper {
			display: flex;
			flex-direction: column;
			height: auto;
		}

		.notes-left {
			display: block;
			height: auto;
			border-right: none;
		}

		.notes-right {
			display: none;
		}

		.notes-main {
			width: 100%;
			height: auto;
			border-right: none;
		}

		.notes-left > div {
			justify-content: center;
			align-items: center;
			height: 100%;
			padding: 6%;
		}

		.notes-left > div > div {
			flex-direction: row;
			gap: 0.4rem;
			margin-bottom: 0;
		}

		.notes-left span {
			margin-left: 0;
			white-space: nowrap;
		}
	}
</style>
