---
// const { pathname } = Astro.url;
const url = new URL(Astro.request.url);
const pathname = url.pathname;
---

<header class="flex w-full fixed justify-end top-0 text-sm z-50">
  <div class="border px-2 py-3 border-t-0 border-e-black border-r-0">
    <a
      href="/"
      class={`highlighter py-1 px-3 ${pathname === "/" ? "active" : ""}`}
    >
      Home
    </a>
  </div>

  <div class="border px-2 py-3 border-t-0 border-e-black border-r-0">
    <a
      href="/posts"
      class={`highlighter py-1 px-3 ${pathname.startsWith("/posts") || pathname.startsWith("/tags") ? "active" : ""}`}
    >
      Posts
    </a>
  </div>

  <div class="border px-2 py-3 border-t-0 border-e-black">
    <a
      href="/about"
      class={`highlighter py-1 px-3 ${pathname === "/about" ? "active" : ""}`}
    >
      About
    </a>
  </div>
</header>

<style>
  header {
    justify-content: flex-end;
  }

  @media (max-width: 640px) {
    header {
      justify-content: center;
      position: sticky;
      background:
        repeating-linear-gradient(30deg, #fff2 0 10%, #fff0 0 24%),
        repeating-linear-gradient(-23deg, #fff2 0 10%, #fff0 0 14%) #e4e1df;
    }
  }

  .highlighter {
    background-color: transparent;
    transition: background-color 0.25s ease;
  }

  .highlighter:hover {
    background-color: #779e8c;
    cursor: pointer;
  }

  .highlighter.active {
    background-color: #779e8c;
  }
</style>
